<% provide(:title, 'All users') %>
<h1>ユーザー一覧</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%=link_to user.name + '(' + user.department.department_name + ')', user_path(user) %><br>
  <% end %>
</ul>

<!-- 管理者のみ表示する処理 -->
<% if admin_user?(current_user) %>
<%= link_to '新規登録', new_user_path, class: "btn btn-lg btn-primary" %>
<% end %>

<%= will_paginate %>
